Debug/* 
TwitCutter.vcxproj 
TwitCutter.vcxproj.filters 
test.doc 
test.docx 
test.pdf 
test.rtf 
test.txt 
Release/* 
test2.doc 
TwitCutter.cbp 
TwitCutter.layout 
bin/* 
obj/* 
twtcut.exe 
Makefile.mak 
wkernelbase.pdb 
twtcut_vc/* 
test.doc 
test.docx 
test.pdf 
test.rtf 
test.txt 
test2.doc 
test3.docx 
test3.docx.zip
 
.httr-oauth
src/lorem-ipsum.doc 
src/lorem-ipsum.txt 
src/lorem-sample.txt 
windows/vs/twitcut/twitcut/Debug
windows/vs/twitcut/twitcut_master/Debug
windows/vs/twitcut/Debug
windows/vs/twitcut/.vs/twitcut/v14/.suo
windows/vs/twitcut/twitcut/twitcut.vcxproj.filters
windows/vs/twitcut/twitcut.VC.db
windows/vs/twitcut/twitcut_master/twitcut_master.vcxproj.filters
