windows/vs/twitcut/twitcut/Debug
windows/vs/twitcut/twitcut_master/Debug
windows/vs/twitcut/Debug
windows/vs/twitcut/.vs/twitcut/v14/.suo
windows/vs/twitcut/twitcut/twitcut.vcxproj.filters
windows/vs/twitcut/twitcut.VC.db
windows/vs/twitcut/twitcut_master/twitcut_master.vcxproj.filters
windows/codeblocks/obj/Debug/src
windows/codeblocks/bin
windows/codeblocks/TwitCutter.depend
windows/codeblocks/bin 

windows/codeblocks/TwitCutter.layout
samples/* 
