Debug/* 
TwitCutter.vcxproj 
TwitCutter.vcxproj.filters 
test.doc 
test.docx 
test.pdf 
test.rtf 
test.txt 
Release/* 
test2.doc 
TwitCutter.cbp 
TwitCutter.layout 
bin/* 
obj/* 
twtcut.exe 
Makefile.mak 
wkernelbase.pdb 
twtcut_vc/* 
test.doc 
test.docx 
test.pdf 
test.rtf 
test.txt 
test2.doc 
test3.docx 
test3.docx.zip
 
.httr-oauth
src/lorem-ipsum.doc 
src/lorem-ipsum.txt 
src/lorem-sample.txt 
