// abt.rc

#include "resource.h"
#include <windows.h>

IDD_ABOUTDIALOG DIALOG DISCARDABLE 0, 0, 239, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON  "&OK", IDOK, 174, 18, 50, 14
	GROUPBOX       "About Twitcutter...", IDC_STATIC, 7, 7, 225, 52
	CTEXT          "Copyright (c) 2018. DevSolutions Ltd.", IDC_STATIC, 16, 18, 144, 33
END