// menu.rc

#include "resource.h"

// IDI_APPICON ICON "my_icon.ico"

IDR_APPMENU MENU
BEGIN
    POPUP "&File"
	BEGIN
	    // MENUITEM "&New", ID_FILE_NEW
		MENUITEM "&Open...", ID_FILE_OPEN
		MENUITEM "&Save", ID_FILE_SAVE
		MENUITEM "Sa&ve As...", ID_FILE_SAVEAS
	    MENUITEM "E&xit", ID_FILE_EXIT
    END
	POPUP "&Edit"
	BEGIN
	    MENUITEM "Cu&t",  ID_EDIT_CUT
		MENUITEM "&Copy", ID_EDIT_COPY
		MENUITEM "&Paste", ID_EDIT_PASTE
		MENUITEM "&Find...", ID_EDIT_FIND
		MENUITEM "&Replace...", ID_EDIT_REPLACE
	END
	POPUP "&Connect"
	BEGIN
	    MENUITEM "&Post...", ID_CONNECT_POST
	END
	//POPUP "&View"
	//POPUP "&Tools"
	// BEGIN
	    // MENUITEM "Optio&ns...", ID_TOOLS_OPTIONS
	// END
	POPUP "&Help"
	BEGIN
	    MENUITEM "&About", ID_HELP_ABOUT
	END
END
